[Unit]
Description=CDK Lineup
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill lineup
ExecStartPre=-/usr/bin/docker rm lineup
ExecStartPre=/usr/bin/docker pull dmrolfs/lineup-core
ExecStart=/usr/bin/docker run --rm --name lineup -p 20004:2004 dmrolfs/lineup-core
ExecStop=-/usr/bin/docker stop lineup

[Install]
WantedBy=multi-user.target