[Unit]
Description=Spotlight Graphite
After=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill spotlight-graphite
ExecStartPre=-/usr/bin/docker rm spotlight-graphite
ExecStartPre=/usr/bin/docker pull dmrolfs/spotlight-graphite
ExecStart=/usr/bin/docker run --rm --name spotlight-graphite -p 20004:2004 -v /var/log/spotlight:/var/log -v /etc/spotlight:/etc/spotlight -e SPOTLIGHT_CONFIG=application-prod.conf dmrolfs/spotlight-graphite
ExecStartPost=/bin/sh -c "/usr/bin/etcdctl set /services/carbonrelay/$COREOS_PRIVATE_IPV4 spotlight-graphite"
ExecStop=-/usr/bin/docker stop spotlight-graphite
ExecStopPost=/usr/bin/etcdctl rm /services/carbonrelay/$COREOS_PRIVATE_IPV4

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-Conflicts=carbon-relay*
